Ellipsis/Assets/Cigarette_with_Smoke_Effect/Textures/Winmill_Interior_Cubemap.cubemap
Ellipsis/Assets/Cigarette_with_Smoke_Effect/Textures/Winmill_Interior_Cubemap.cubemap.meta
Ellipsis/Assets/Cigarette_with_Smoke_Effect/FBX/Ground.fbx
Ellipsis/Assets/Cigarette_with_Smoke_Effect/FBX/Ground.fbx.meta
Ellipsis/Assets/Cigarette_with_Smoke_Effect/Textures/Cigarette_Smoke_TextureSheet.tif.meta
Ellipsis/Assets/Cigarette_with_Smoke_Effect/FBX/Ground.fbm/Dirt_Ground_c.tif
Ellipsis/Assets/Cigarette_with_Smoke_Effect/FBX/Ground.fbm/Dirt_Ground_c.tif.meta
Ellipsis/Assets/Cigarette_with_Smoke_Effect/FBX/Ground.fbm.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/All objects.unity
Ellipsis/Assets/Modular Japanese Room/Scenes/All objects.unity.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/All objectsSettings.lighting
Ellipsis/Assets/Modular Japanese Room/Scenes/All objectsSettings.lighting.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/LightingData.asset
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/LightingData.asset
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/LightingData.asset
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/LightingData.asset.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/LightingData.asset.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/LightingData.asset.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-0_comp_dir.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/Lightmap-0_comp_dir.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/Lightmap-0_comp_dir.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-0_comp_dir.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/Lightmap-0_comp_dir.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/Lightmap-0_comp_dir.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-0_comp_light.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/Lightmap-0_comp_light.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/Lightmap-0_comp_light.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-0_comp_light.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/Lightmap-0_comp_light.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/Lightmap-0_comp_light.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-0_comp_shadowmask.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/Lightmap-0_comp_shadowmask.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/Lightmap-0_comp_shadowmask.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-0_comp_shadowmask.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/Lightmap-0_comp_shadowmask.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/Lightmap-0_comp_shadowmask.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-1_comp_dir.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-1_comp_dir.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-1_comp_light.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-1_comp_light.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-1_comp_shadowmask.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-1_comp_shadowmask.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-2_comp_dir.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-2_comp_dir.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-2_comp_light.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-2_comp_light.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-2_comp_shadowmask.png
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/Lightmap-2_comp_shadowmask.png.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/ReflectionProbe-0.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/ReflectionProbe-0.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/ReflectionProbe-0.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami/ReflectionProbe-0.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/ReflectionProbe-0.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami/ReflectionProbe-0.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/ReflectionProbe-1.exr
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami/ReflectionProbe-1.exr.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami.unity
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatami.unity.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatamiSettings.lighting
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_10tatamiSettings.lighting.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami.unity
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatami.unity.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatamiSettings.lighting
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_6tatamiSettings.lighting.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami.unity
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatami.unity.meta
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatamiSettings.lighting
Ellipsis/Assets/Modular Japanese Room/Scenes/RoomDemo_8tatamiSettings.lighting.meta
Ellipsis/Library/
Ellipsis/UserSettings/
Ellipsis/Logs/
Ellipsis/Temp/
